@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Poppins", sans-serif;
}

.navbar a {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
/* Global CSS (or in your CSS module) */
@media (max-width: 768px) {
  .custom-cursor {
    display: none !important;
  }
}

.parallax-container {
  background-image: url("https://t4.ftcdn.net/jpg/05/00/95/25/360_F_500952555_YwAsH6OtnjaropE5AEkTLVuR78y6g2l4.jpg"); /* Replace with your image URL */
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  color: white;
}
